body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

div#main_canvas_container {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
}

div#prelod_static_path {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 395px;
    height: 134px;
    margin-left: -197px;
    margin-top: -75px;
}
div#prelod_dynamic_path {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-image: url(icons/loader_bar_line.png);
}
div#preloader_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(icons/preloader_bg.jpg);
    background-color: #171717;
    background-repeat: no-repeat;
    background-position: center center;
    visibility: hidden;
}
span#counter {
	color: #ccccff;
	font-size: 24px;
	position: relative;
	top: 100px;
	left: 184px;
}

div#hud {
	position: absolute;
	z-index: 1;
	font-size: 20px;
	color: #ffffff;
	visibility: hidden;
}
 